<link rel="stylesheet" href="/stylesheets/trackindex.css">

<section class="container">

  <div class="row">
    <% @tracks.each do |track| %>



      <div class="track-outer-box col-md-4 col-sm-6 col-xs-12">


          <div class="track-left-box">
            <a href="<%= track.picture_url %>" target="_blank"><img src="<%= track.picture_url %>"/></a>
            <%= erb :_upvote_button, locals: { track: track } %>
          </div>


          <div class="track-right-box">
            <a href="/tracks/<%= track.id %>" class="title"><%= track.title %></a>
            <p class="author">
              (by: <%= track.author %>)
            </p>
            <% unless track.song_url.empty? %>
              <a href="/tracks/<%= track.id %>" target="_blank" class="music-player"><%= track.song_url %></a>
            <% else %>
              <a href="#" target="_blank" class="music-player">this track has no url!</a>
            <% end %>
            <p class="posted-by">
            posted by: <a href="/users/<%= track.user_id %>"><%= username_by_id(track.user_id) %></a>
            </p>
          </div>



      </div>



    <% end %>
  </div>

</section>