<link rel="stylesheet" href="/stylesheets/tracks.css">

<header class="container">
  <h1>Tracks</h1>
  <a href="/tracks/new">Post a new track!</a>
</header>

<section class="container">

  <% @tracks.each do |track| %>
    <div class="track">

      <img src="<%= track.picture_url %>"/>
      <h3><a href="/tracks/<%= track.id %>"><%= track.title %></a> <small>(by: <%= track.author %>)</small></h3>
      <p>
        <a href="/tracks/<%= track.id %>"><%= track.song_url %></a>
      </p>
    </div>
  <% end %>

</section>